@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Cooper";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/CooperBT-Light.woff2") format("woff2"),
      url("/font/CooperBT-Light.woff") format("woff"),
      url("/font/CooperBT-Light.ttf") format("truetype");
  }
}

.container {
  max-width: calc(100% - 60px);
  margin: 0 auto;
}

.header-text-stroke {
  -webkit-text-stroke: 2px rgba(96, 109, 1, 0.2);

}

.boxEffect {
  box-shadow: 0px 0px 0px 1px #AF7302, 0px 0px 0px 4px rgba(175, 115, 2, 0.20);
}

.boxEffectNotSelected {
  box-shadow: 0px 0px 0px 1px rgba(9, 9, 11, 0.08), 0px 1px 2px -1px rgba(9, 9, 11, 0.08), 0px 2px 4px 0px rgba(9, 9, 11, 0.04);
}